<div class="card mt-3" style="width: 18rem;">
    <img src="{{ recipe.pictureUrl }}" class="card-img-top" alt="picture-cook">
    <div class="card-body">
        <h5 class="card-title">{{ recipe.subCategory.name }}</h5>

        <div class="card-text">
            {{ recipe.title }}
            {% if recipe.isFavorite %}
                <img src="{{ asset('build/star.svg') }}" class="star-favorite">
            {% endif %}
        </div>
        <a href="{{ path('recipe_show', {id: recipe.id}) }}" class="btn btn-card">Voir la recette</a>
    </div>
</div>